/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  form {
    margin: 20px;
  }
  
  label,
  textarea,
  input[type="submit"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    height: 50px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  .real {
    color: #4caf50;
    font-weight: bold;
  }
  
  .fake {
    color: #f44336;
    font-weight: bold;
  }
  